nav{
    background-color: brown;
    color: aliceblue;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0;
}
li{
   cursor: pointer;
   font-size: 22px;
   color: aliceblue;
   text-decoration: none; 
}