<div class="item">
    <div routerLink ="/details/{{data.id}}">
        <img src="{{data.image}}" alt="" class="w-50 h-50">
        <div class="body">
            <h4> {{data.title}} </h4>
            <p>{{data.description}}</p>
        </div>
    </div>
   
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button class="btn btn-success" *ngIf ="!addToBtn" (click)= "addToBtn=true">Add To Cart</button>
        <div class="d-flex w-50" *ngIf= "addToBtn">
            <input type="number" class="form-control" [(ngModel)]= "amount">
            <button class="btn btn-danger" (click)="add(); addToBtn = false ">Add</button>
        </div>
        <span>{{data.price}} L.E</span>
    </div>
</div>
